/*************************************************************************
 * This CSS file is for your own style
 *************************************************************************/

#custom-dropdown {
  width: 240px;
}