/*************************************************************************
 * This css file is for your own style.
 *************************************************************************/

.menu {
  max-width: 960px;
}

.content {
  max-width: 960px;
}

@media screen and (min-width: 960px) {
  .flex-item-stretch {
    flex: 1;
  }
}