/*************************************************************************
 * GitHub: https://github.com/yenchiah/project-website-template
 * Version: v1.4
 *************************************************************************/

html, body {
  margin: 0;
  padding: 0;
  background-color: white;
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  min-width: 940px;
}

a {
  outline: none;
  cursor: pointer;
}

.menu-container {
  z-index: 2;
  position: relative;
  width: 100%;
  background-color: #212121;
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
}

.menu {
  position: relative;
  margin: 0 auto;
  max-width: 940px;
}

.menu-table {
  padding: 0 20px;
  width: 100%;
  margin: 0;
  height: 50px;
}

.logo {
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 30px;
  color: rgba(255, 255, 255, 0.8);
}

.logo a {
  text-decoration: none;
  font-weight: 700;
  color: rgba(255, 255, 255, 0.8);
}

.menu-items {
  float: right;
  font-size: 17px;
  color: rgba(255, 255, 255, 0.8);
}

.menu-items a {
  margin-left: 30px;
  text-decoration: none;
  font-weight: 500;
  color: rgb(255, 255, 255);
  opacity: 0.7;
  transition: opacity 0.1s ease-in-out;
  -moz-transition: opacity 0.1s ease-in-out;
  -webkit-transition: opacity 0.1s ease-in-out;
}

.menu-items a:hover {
  color: rgb(255, 255, 255);
  opacity: 1;
}

.menu-highlight {
  color: rgb(255, 255, 255) !important;
  opacity: 1 !important;
  font-weight: 700 !important;
}

.content-container {
  z-index: 1;
  position: relative;
  width: 100%;
}

.content {
  position: relative;
  margin: 0 auto;
  font-size: 16px;
  font-family: 'Raleway', Helvetica, Arial, sans-serif;
  font-weight: 300;
  line-height: 1.5;
  max-width: 940px;
}

.content p a {
  text-decoration: none;
  color: #9a2328;
}

.content p a:hover {
  text-decoration: underline;
}

.content-table {
  padding: 20px;
  width: 100%;
  margin: 0;
}

.left-align {
  float: left;
}

.right-align {
  float: right;
}

h2 {
  font-size: 24px;
  margin: 10px 0 10px 0;
  padding: 0;
  vertical-align: middle;
  font-weight: bold;
}

.text {
  margin: 15px 0 15px 0;
  padding: 0;
  vertical-align: middle;
  font-weight: normal;
}

.text-large-margin {
  margin: 25px 0 25px 0;
  padding: 0;
  vertical-align: middle;
}

.image {
  margin: 15px 0 15px 0;
  padding: 0;
  vertical-align: middle;
}

.video {
  margin: 15px 0 15px 0;
  padding: 0;
  vertical-align: middle;
}

.image-link {
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  display: inline-block;
  border: 0;
  margin: 10px 0 10px 0;
  padding: 0;
  width: 100%;
  box-sizing: border-box;
}

.image-button {
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  display: block;
  border: 1px solid white;
  margin: 10px 0 5px 0;
  padding: 0;
  transition: border 0.1s, box-shadow 0.1s;
  width: 100%;
  box-sizing: border-box;
  box-shadow: none;
}

.image-button:hover {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.3);
  border: 1px solid #4d4d4d;
}

.image-button:active {
  box-shadow: none;
}

.image-button-caption {
  width: 100%;
  text-align: center;
  margin: 0 0 10px 0;
  padding: 0;
  font-size: 14px;
  box-sizing: border-box;
}

.custom-button {
  padding: 12px 25px;
  text-align: center;
  background-color: #7d7d7d;
  color: white;
  font-family: 'Raleway', Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 14px;
  outline: none;
  border: 0;
  border-radius: 2px;
  cursor: pointer;
  box-shadow: none;
  transition: background-color 0.1s, box-shadow 0.1s;
  text-decoration: none;
  display: block;
}

.custom-button:hover {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.3);
  background-color: #4d4d4d;
}

.custom-button:active {
  box-shadow: none;
  background-color: #4d4d4d;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Chrome/Safari/Opera */
  -khtml-user-select: none; /* Konqueror */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently not supported by any browser */
}

.center-align-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.left-align-content {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.text-large {
  font-size: 20px;
}

.text-small {
  font-size: 12px;
}

.text-italic {
  font-style: italic;
}

.text-justify {
  text-align: justify;
}

.text-center {
  text-align: center;
}

.iframe-container {
  position: absolute;
  top: 50px;
  bottom: 0;
  left: 0;
  height: auto;
  width: 100%;
  min-width: 940px;
}

.iframe {
  border: 0;
  width: 100%;
  height: 100%;
}

.force-no-scroll {
  overflow-y: hidden;
}

.force-scroll {
  overflow-y: scroll;
}

.highlight-text {
  font-weight: bold;
}