html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: white;
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
}

a {
  outline: none;
}

#menu-container {
  z-index: 2;
  position: fixed;
  top: 0;
  width: 100%;
  text-align: center;
  background-color: #43731F;
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.15), 0 3px 7px rgba(0, 0, 0, 0.3)
}

#menu {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  width: 1000px;
  text-align: center;
  padding-top: 15px;
  padding-bottom: 45px;
}

#logo {
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 30px;
  float: left;
  margin-top: -6px;
  color: rgba(255, 255, 255, 0.8);
}

#logo a {
  text-decoration: none;
  font-weight: 700;
  color: rgba(255, 255, 255, 0.8);
}

#menu-items {
  float: right;
  margin-top: 4px;
  font-size: 17px;
  color: rgba(255, 255, 255, 0.8);
}

#menu-items a {
  margin-left: 40px;
  text-decoration: none;
  font-weight: 500;
  color: rgb(255, 255, 255);
  opacity: 0.7;
  transition: opacity 0.2s ease-in-out;
  -moz-transition: opacity 0.2s ease-in-out;
  -webkit-transition: opacity 0.2s ease-in-out;
}

#menu-items a:hover {
  color: rgb(255, 255, 255);
  opacity: 1;
}

.menu-highlight {
  color: rgb(255, 255, 255) !important;
  opacity: 1 !important;
  font-weight: 700 !important;
}

#content-container {
  z-index: 1;
  position: absolute;
  top: 60px;
  bottom: 0;
  width: 100%;
  height: auto;
}

#content {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  width: 1000px;
  text-align: center;
  font-size: 16px;
  font-family: 'Raleway', Helvetica, Arial, sans-serif;
  font-weight: 300;
  line-height: 1.5;
  padding-bottom: 35px;
  padding-top: 35px;
}

#content a {
  text-decoration: none;
  color: #43731F;
}

#content a:hover {
  text-decoration: underline;
}

#authors {
  font-size: 20px;
  padding-bottom: 20px;
  color: #4d4d4d;
}

#authors a {
  color: #43731F;
  opacity: 0.8;
}

#info-table {
  width: 100%;
  margin: 0;
}

#download-button {
  width: 160px;
  height: 35px;
  line-height: 35px;
}

.text {
  text-align: justify;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-right: 0;
  margin-top: 0;
}

.image {
  padding-top: 5px;
  padding-bottom: 5px;
  margin-right: 0;
  margin-top: 0;
}

.force-scroll {
  overflow-y: scroll;
}

.custom-button {
  display: table;
  text-align: center;
  background-color: #62a52c;
  color: white;
  font-family: 'Raleway', Helvetica, Arial, sans-serif;
  font-size: 14px;
  outline: none;
  border: 0;
  border-radius: 2px;
  cursor: pointer;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.3);
  transition: background-color 0.2s, box-shadow 0.2s;
}

.custom-button:hover {
  background-color: #43731F;
}

.custom-button:active {
  box-shadow: none;
  background-color: #43731F;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Chrome/Safari/Opera */
  -khtml-user-select: none; /* Konqueror */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently not supported by any browser */
}