/*************************************************************************
 * GitHub: https://github.com/yenchiah/project-website-template
 * Version: v3.37
 * This CSS file has widgets for building interactive web applications
 * Use this file with widgets.js
 * If you want to keep this template updated, avoid modifying this file
 * Instead, add your own CSS in the custom.css file
 *************************************************************************/

.painting-frame {
  margin: 15px 0;
  width: 100%;
  justify-content: center;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  display: flex;
  position: relative;
}

.painting-frame .painting-frame-item {
  position: relative;
}

.painting-frame .painting-frame-image {
  box-shadow: 0 0px 4px rgba(0, 0, 0, 0.32), 0 0px 10px rgba(0, 0, 0, 0.23);
  border: 8px solid white;
  border-radius: 0;
  max-height: 600px;
  max-width: 100%;
  width: auto;
  height: auto;
  box-sizing: border-box;
  display: table-cell;
  overflow: hidden;
}

.painting-frame .painting-frame-caption {
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 50%;
  box-sizing: border-box;
  transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  padding: 15px 25x;
  padding: max(min(2vw, 15px), 10px) max(min(3vw, 25px), 15px);
  font-size: 25px;
  font-size: max(min(6vw, 25px), 16px);
  line-height: 1.3;
  color: white;
  text-align: center;
  text-shadow: -1px 1px 0 #000, 1px 1px 0 #000, 1px -1px 0 #000, -1px -1px 0 #000;
}

.search-box-container {
  height: 40px;
  position: relative;
  display: block;
  box-sizing: border-box;
  width: 100%;
}

.search-box-container .search-box {
  min-height: 100%;
  max-height: 100%;
  width: 100%;
  text-indent: 40px;
  display: block;
}

.search-box-container .search-box-button {
  border: none;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  width: 40px;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  cursor: pointer;
  background-color: transparent;
}

.search-box-container .search-box-icon {
  width: 24px;
  height: 24px;
  padding: 8px 0px 8px 10px;
  fill: #767676;
}

.search-box-container .search-box-icon:hover {
  fill: #292929;
  transition: 0.1s;
}

.dialog-photo-picker {
  max-width: 1200px;
}

.dialog-photo-picker .masonry {
  width: calc(100% + 30px);
  margin: 0 -15px;
  padding: 15px 0 0 0;
  display: none;
}

.dialog-photo-picker .masonry figure {
  cursor: pointer;
}

.dialog-photo-picker .photos-masonry-error-message {
  padding: 20px 15px;
  display: none;
}

.custom-tab {
  margin: 15px 0;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: stretch;
  align-content: stretch;
  box-sizing: border-box;
}

.custom-tab .custom-tab-menu {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
  border-bottom: none;
  width: fit-content;
  width: -moz-fit-content;
}

.custom-tab .custom-tab-menu-item {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
}

.custom-tab .custom-tab-menu-item:hover {
  background-color: #ddd;
}

.custom-tab .custom-tab-menu-item.active {
  background-color: #ccc;
}

.custom-tab .custom-tab-content {
  padding: 25px;
  border: 1px solid #ccc;
  display: none;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: stretch;
  align-content: stretch;
  box-sizing: border-box;
}

.custom-tab .custom-tab-menu.center,
.custom-tab .custom-tab-content .image.center,
.custom-tab .custom-tab-content p.center,
.custom-tab .custom-tab-content table.center {
  align-self: center;
}

.custom-tab .custom-tab-content.no-padding {
  padding: 0;
}

.custom-tab .graph-title.add-top-right-left-padding {
  padding-top: 25px;
  padding-left: 25px;
  padding-right: 25px;
  padding-bottom: 5px;
}

.custom-tab .graph-title.add-bottom-border {
  border-bottom: 1px solid #ccc;
}

.custom-tab .image:first-child,
.custom-tab .custom-table-container:first-child,
.custom-tab .text:first-child,
.custom-tab .graph-title:first-child {
  margin-top: 0;
}

.custom-tab .image:last-child,
.custom-tab .custom-table-container:last-child,
.custom-tab .text:last-child,
.custom-tab .graph-title:last-child {
  margin-bottom: 0;
}

.custom-radio {
  padding: 0;
  text-align: center;
  outline: none;
  cursor: pointer;
  box-shadow: none;
  transition: background-color 0.1s, box-shadow 0.1s;
  text-decoration: none;
  box-sizing: border-box;
  background-color: white;
  border: 0;
  border-spacing: 0;
  display: inline-block;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.custom-radio:not(:disabled):hover {
  color: #333333;
  background-color: #eeeeee;
}

.custom-radio:disabled {
  opacity: 0.4;
}

.custom-radio.custom-radio-left [type="radio"]+label {
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
  border-right: 0 !important;
}

.custom-radio.custom-radio-right [type="radio"]+label {
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
}

.custom-radio.custom-radio-middle [type="radio"]+label {
  border-radius: 0 !important;
  border-right: 0 !important;
}

.custom-radio [type="radio"]+label {
  position: relative;
  padding: 7px 13px 6px 29px;
  cursor: pointer;
  font-size: 14px;
  line-height: 14px;
  display: table-cell;
  color: #666666;
  border: 1px solid #bbbbbb;
  border-radius: 2px;
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.custom-radio [type="radio"] {
  position: absolute;
  left: -9999px;
}

.custom-radio [type="radio"]:checked+label {
  color: white;
  background-color: #007bff;
  border-color: #007bff;
}

.custom-radio [type="radio"]+label:before {
  content: '';
  position: absolute;
  left: 11px;
  top: 7px;
  width: 12px;
  height: 12px;
  border: 1px solid #ddd;
  border-radius: 100%;
  background: #fff;
}

.custom-radio [type="radio"]+label:after {
  content: '';
  width: 8px;
  height: 8px;
  background: #005cbf;
  position: absolute;
  top: 10px;
  left: 14px;
  border-radius: 100%;
  -webkit-transition: all 0.1s ease;
  transition: all 0.1s ease;
}

.custom-radio [type="radio"]:not(:checked)+label:after {
  opacity: 0;
  -webkit-transform: scale(0);
  transform: scale(0);
}

.custom-radio [type="radio"]:checked+label:after {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
}

.custom-dropdown {
  position: relative;
  display: block;
  cursor: pointer;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.custom-dropdown>a {
  padding: 5px 26px 5px 8px;
  outline: none;
  border-radius: 2px;
  box-shadow: none;
  transition: background-color 0.1s, box-shadow 0.1s, border 0.1s;
  text-decoration: none;
  display: block;
  box-sizing: border-box;
  color: black;
  height: 28px;
  border: 1px solid #7d7d7d;
  background-color: white;
  width: 100%;
  cursor: pointer;
}

.custom-dropdown.large>a {
  height: 37px;
  padding: 5px 31px 5px 10px;
}

.custom-dropdown>a>span {
  text-align: left;
  font-size: 14px !important;
  line-height: 16px;
  white-space: nowrap;
  overflow: hidden;
  display: block;
  text-overflow: ellipsis;
}

.custom-dropdown.large>a>span {
  font-size: 16px !important;
  line-height: 25px;
}

.custom-dropdown>a:after {
  position: absolute;
  content: "";
  top: 13px;
  right: 10px;
  width: 0;
  height: 0;
  border: 4px solid transparent;
  border-top-color: black;
}

.custom-dropdown.large>a:after {
  top: 17px;
  right: 13px;
  border: 5px solid transparent;
  border-top-color: black;
}

.custom-dropdown>div {
  display: none;
  position: absolute;
  margin-top: -1px;
  border: 1px solid #7d7d7d;
  background-color: white;
  z-index: 1;
  box-sizing: border-box;
  border-radius: 2px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
  min-width: 100%;
}

.custom-dropdown>a:focus {
  pointer-events: none;
}

.custom-dropdown>a:focus+div {
  display: block;
}

.custom-dropdown>div:hover {
  display: block;
}

.custom-dropdown>div>a {
  color: black;
  padding: 5px 8px;
  text-decoration: none;
  text-align: left;
  display: block;
  outline: none;
  font-size: 14px !important;
  line-height: 16px;
  height: 26px;
  white-space: nowrap;
  border-left: 0;
  border-top: 0;
  border-right: 0;
  box-sizing: border-box;
}

.custom-dropdown.large>div>a {
  font-size: 16px !important;
  line-height: 25px;
  height: 35px;
  padding: 5px 10px;
}

.custom-dropdown>div>a:hover {
  background-color: #e1e1e1;
  color: black;
}

.custom-dropdown>div.force-hide {
  display: none !important;
}

.custom-dialog-flat {
  font-size: 16px;
  font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif;
  background-color: white;
  background-image: none;
  padding: 0;
  margin: 0;
  border-radius: 2px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.custom-dialog-flat .ui-dialog-content {
  padding: 1.6em 1.8em 1.5em 1.8em;
  background-color: white;
  background-image: none;
}

.custom-dialog-flat .ui-dialog-content p {
  margin: 0.6em 0;
}

.custom-dialog-flat .ui-dialog-content p:first-child,
.custom-dialog-flat .ui-dialog-content div:first-child,
.custom-dialog-flat .ui-dialog-content h1:first-child,
.custom-dialog-flat .ui-dialog-content h2:first-child,
.custom-dialog-flat .ui-dialog-content h3:first-child {
  margin-top: 0;
}

.custom-dialog-flat .ui-dialog-content p:last-child,
.custom-dialog-flat .ui-dialog-content div:last-child,
.custom-dialog-flat .ui-dialog-content h1:last-child,
.custom-dialog-flat .ui-dialog-content h2:last-child,
.custom-dialog-flat .ui-dialog-content h3:last-child {
  margin-bottom: 0;
}

.custom-dialog-flat .ui-dialog-titlebar {
  background-color: white;
  background-image: none;
  border: 0;
  border-radius: 0px;
  color: #2E2F30;
  border-bottom: 1px solid #d4d4d4;
  padding: 1.2em 1.8em 1.2em 1.8em;
}

.custom-dialog-flat .ui-dialog-titlebar .ui-dialog-title {
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  text-align: center;
  margin: 0 0 0 0.5em;
  font-size: 19px;
}

.custom-dialog-flat .ui-dialog-titlebar .ui-dialog-titlebar-close {
  background: white none;
  border: 0;
  margin: 0;
  padding: 0;
  position: absolute;
  right: 1.5em;
  top: 1.3em;
  text-indent: 0;
}

.custom-dialog-flat .ui-dialog-titlebar .ui-dialog-titlebar-close:focus {
  outline: none;
}

.custom-dialog-flat .ui-dialog-titlebar .ui-dialog-titlebar-close:after {
  content: '';
  position: absolute;
  top: -12px;
  bottom: -12px;
  left: -12px;
  right: -12px;
}

.custom-dialog-flat .ui-dialog-titlebar .ui-dialog-titlebar-close.ui-state-default {
  background: none;
  border: none;
  height: auto;
}

.custom-dialog-flat .ui-dialog-titlebar .ui-dialog-titlebar-close .ui-button-icon {
  background: none;
  border: 0;
}

.custom-dialog-flat .ui-dialog-titlebar .ui-dialog-titlebar-close .fa-lg {
  vertical-align: -0.15em;
}

.custom-dialog-flat .ui-dialog-buttonpane {
  border-width: 0;
  margin: 0;
  border-top: 1px solid #d4d4d4;
  padding: 0em 1.8em 1.2em 1.8em
}

.custom-dialog-flat .ui-dialog-buttonpane .ui-dialog-buttonset {
  width: 100%;
  text-align: right;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  align-content: stretch;
  box-sizing: border-box;
}

.custom-dialog-flat .ui-dialog-buttonpane .ui-dialog-buttonset .ui-button {
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  border: 1px solid #7d7d7d;
  background: #7d7d7d none;
  color: white;
  border-radius: 2px;
  outline: none;
  margin: 1.2em 0 0 1.2em;
}

.custom-dialog-flat .ui-dialog-buttonpane .ui-dialog-buttonset .ui-button:disabled {
  opacity: 0.4;
  cursor: default;
}

.custom-dialog-flat .ui-dialog-buttonpane .ui-dialog-buttonset .ui-button:first-child {
  margin-left: 0;
}

.custom-dialog-flat .ui-dialog-buttonpane .ui-dialog-buttonset .ui-button.ui-action-button {
  background-color: #007bff;
  border: 1px solid #007bff;
}

.custom-dialog-flat .ui-dialog-buttonpane .ui-dialog-buttonset .ui-button.full-width {
  width: 100%;
  margin-left: 0;
}

.custom-dialog-flat .ui-dialog-buttonpane .ui-dialog-buttonset .ui-button.full-width:not(:first-child) {
  margin-top: 0.8em;
}

.custom-legend {
  margin: 15px 0;
}

.custom-legend .legend-title {
  text-align: left;
  font-weight: bold;
  margin-top: 0;
  border: 0;
  border-radius: 0;
  background: rgba(255, 255, 255);
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  font-size: 14px;
  padding: 11px 15px 10px 15px;
  border: 1px solid #777;
  color: #222;
  line-height: 1.3;
}

.custom-legend .legend-title:hover {
  background: rgba(255, 255, 255);
  color: #222;
}

.custom-legend .legend-title:focus {
  outline: none;
}

.custom-legend .legend-title .ui-accordion-header-icon {
  float: right;
  margin-top: 1px;
}

.custom-legend .legend-title .ui-icon-triangle-1-s {
  display: inline-block;
  width: 16px;
  height: 16px;
  background:
    linear-gradient(#fff, #fff),
    #666;
  background-position: center;
  background-size: 50% 2px, 2px 50%;
  /*thickness = 2px, length = 50% (25px)*/
  background-repeat: no-repeat;
  border-radius: 50%;
}

.custom-legend .legend-title .ui-icon-triangle-1-e {
  display: inline-block;
  width: 16px;
  height: 16px;
  background:
    linear-gradient(#fff, #fff),
    linear-gradient(#fff, #fff),
    #666;
  background-position: center;
  background-size: 50% 2px, 2px 50%;
  /*thickness = 2px, length = 50% (25px)*/
  background-repeat: no-repeat;
  border-radius: 50%;
}

.custom-legend .legend-scale {
  border: 0;
  line-height: 1.3;
  color: black;
  border-radius: 0;
  background: rgba(255, 255, 255, 0.9);
  font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif;
  font-size: 14px;
  padding: 12px 15px 12px 15px;
  border-bottom: 1px solid #777;
  border-right: 1px solid #777;
  border-left: 1px solid #777;
  border-top: 0;
  overflow: hidden;
}

.custom-legend .legend-scale ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.custom-legend .legend-scale ul li {
  font-size: 80%;
  list-style: none;
  margin-left: 0;
  line-height: 18px;
}

.custom-legend .legend-scale ul li:not(:last-child) {
  margin-bottom: 4px;
}

.custom-legend ul.legend-labels li span {
  display: block;
  float: left;
  height: 16px;
  width: 30px;
  margin-right: 7px;
  margin-left: 0;
  border: 1px solid #777;
}

.custom-legend .legend-source {
  font-size: 12px;
  color: #777;
  clear: both;
  padding-top: 6px;
}

.custom-legend a {
  color: #777;
}

.ui-widget-overlay {
  opacity: 0.7;
  background-image: none;
  background-color: black;
}

.control-group .custom-radio {
  margin: 10px 0 10px 0;
}

.control-group .custom-dropdown {
  margin: 10px 0 10px 0;
}

.control-group .custom-dropdown:not(:last-child) {
  margin-right: 15px;
}

.no-x-scroll {
  overflow-x: hidden;
  overflow-y: scroll;
  position: fixed;
  height: 100vh;
}

.no-scroll {
  overflow-x: hidden;
  overflow-y: hidden;
  position: fixed;
  height: 100vh;
}

.fit-parent {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: auto;
  height: auto;
}

@media screen and (min-width: 900px) {
  .dialog-photo-picker .masonry {
    column-count: 4;
  }
}

@media screen and (min-width: 700px) and (max-width: 900px) {
  .dialog-photo-picker .masonry {
    column-count: 3;
  }
}

@media screen and (min-width: 500px) and (max-width: 700px) {
  .dialog-photo-picker .masonry {
    column-count: 2;
  }
}

@media screen and (max-width: 500px) {
  .dialog-photo-picker .masonry {
    column-count: 1;
  }
}